import(methods)

importFrom(stats, setNames)

import(BiocGenerics)

import(IRanges)

import(GenomicRanges)

import(MASS)

import(ggplot2)

import(grid)

import(gridExtra)

#import(ggrepel)

import(plyr)


export(shatterseek,SVs,CNVsegs,getSVs,getSegs, cluster.SV, statistical_criteria,peak.count, plot_chromothripsis)

exportClasses(
	SVs,CNVsegs,chromoth
)

